
{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://loremflickr.com/48/48?random=20"><br>
      <b>J & S</b><br>
      1000 followers
    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      <div class="tweetbox">
      {% for tweet in tweets %}
          <div class="currentTweet">
            <img src='{{tweet.picture}}' />
            <li class="bold">{{tweet.name}}</li>
            <li>{{tweet.content}}</li>
          </div>
      {% endfor %}
      <div>

    </div>
  </div>

{% endblock %}
